{% extends 'base.html' %}


{% block content %}

  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark mt-2">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Hi, I am KOKCHEN.</h1>
      <p class="lead my-3">Hey, my name is KOKCHEN CHAN and this is my first blog. Hope you will enjoy it!</p>
      <p class="lead mb-0"><a href="mailto:kokchen2014@outlook.com" class="btn btn-primary my-2 text-white font-weight-bold">Email me</a></p>
    </div>
  </div>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        {% for job in jobs.all %}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="card-img-top" src="{{ job.image.url }}" />
              <div class="card-body">
                <p class="card-text">{{ job.summary }}</p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
